:root {
    --PrimaryColor: hsl(137, 64%, 47%);
    --HoverColor: hsl(137, 67%, 39%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: hsl(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);
}

.navbar{
    background-color: #BABEBB;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.login-button {
    background-color: var(--PrimaryColor);
    color: var(--whiteColor);
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: var(--HoverColor);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: var(--greyText);
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: var(--blackColor);
}


@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--PrimaryColor);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.contenido{
    position: relative;
    margin: 8rem 2rem;
}