:root {
    --PrimaryColor: hsl(137, 64%, 47%);
    --HoverColor: hsl(137, 67%, 39%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: hsl(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);
}

.navBar {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--greyBg);
}

.navBar > .nav-logo {
    color: var(--blackColor);
    font-weight: 700;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
    align-items: center;
    justify-content: center;
}


.navBar > .nav-items > .navlink {
    color: var(--blackColor);
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    margin: 15px;
}

.navBar > .nav-items > .navlink:hover {
    opacity: 1;
}

.navBar > .nav-items > .navlink::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--PrimaryColor);
    transition: all .45s;
}

.navBar > .nav-items > .navlink:hover::before {
    width: 100%;
}

@media (max-width: 746px) {

    .navBar>.nav-items {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: var(--greyBg);
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .navBar>.nav-items>.navlink::before {
        background: transparent;
    }

    .navBar>.nav-items.open{
        transform: translateX(0);
    }

    .nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle>.bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: var(--PrimaryColor);
    }

    .nav-toggle>.bar::before,
    .nav-toggle>.bar::after {
        content: "";
        position: absolute;
        background: var(--PrimaryColor);
        transition: all .45s ease-in-out;
        height: 2px;
        border-radius: 2px;

    }

    .nav-toggle>.bar::before {
        width: 35px;
        transform: translateY(-8px);
        right: 0;
    }

    .nav-toggle>.bar::after {
        width: 32px;
        transform: translateY(8px);
    }

    .nav-toggle.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open > .bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}

.contenido {
    position: relative;
    margin: 8rem 2rem;
}