.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: wrap;
    margin-top: 10px;
    margin-left: 10px;
}

.flex-1{
    display: flex;
}

.card{
    width: 200px;
}

.card-title{
    font-size: 35px;
    margin-left: 50px;
}

.card-text{
    margin-left: 40px;
}

.logo-recepcion{
    font-size: 50px;

}

.boton{
    margin-left: 35px;
    margin-top: 5px;
}