/* Colors */
:root {
  --PrimaryColor: hsl(137, 64%, 47%);
  --HoverColor: hsl(137, 67%, 39%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
}

.home {
  height: 80vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522));
  background-image: url("../../assets/naturalez.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.home .setContainer .homeText {
  text-align: center;
}
.home .setContainer .homeText .tittle {
  color: var(--whiteColor);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.home .setContainer .homeText .subTittle {
  color: var(--whiteColor);
  opacity: 0.9;
  font-size: 13px;
  font-weight: 300;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
}
.home .setContainer .homeText .boton {
  padding: 0.6rem 1.5rem;
  width: 100%;
  padding: 0.6rem 1.5rem;
  background-color: var(--PrimaryColor);
  border-radius: 50px;
  color: var(--whiteColor);
  font-weight: 600;
}
.home .setContainer .homeCard {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--whiteColor);
  position: absolute;
  gap: 1rem;
  justify-content: center;
  bottom: -35%;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}
.home .setContainer .homeCard .locationDiv,
.home .setContainer .homeCard .distDiv,
.home .setContainer .homeCard .priceDiv {
  width: 100%;
}
.home .setContainer .homeCard .locationDiv label,
.home .setContainer .homeCard .distDiv label,
.home .setContainer .homeCard .priceDiv label {
  display: block;
  color: var(--textColor);
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 0.4rem;
}
.home .setContainer .homeCard .locationDiv input,
.home .setContainer .homeCard .distDiv input,
.home .setContainer .homeCard .priceDiv input {
  width: 100%;
  background: var(--InputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}
.home .setContainer .homeCard .locationDiv input::-moz-placeholder, .home .setContainer .homeCard .distDiv input::-moz-placeholder, .home .setContainer .homeCard .priceDiv input::-moz-placeholder {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}
.home .setContainer .homeCard .locationDiv input::placeholder,
.home .setContainer .homeCard .distDiv input::placeholder,
.home .setContainer .homeCard .priceDiv input::placeholder {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}
.home .setContainer .homeCard .locationDiv input:focus,
.home .setContainer .homeCard .distDiv input:focus,
.home .setContainer .homeCard .priceDiv input:focus {
  outline: none;
}
.home .setContainer .homeCard .boton {
  width: 100%;
  padding: 0.6rem 1.5rem;
  background-color: var(--PrimaryColor);
  border-radius: 50px;
  color: var(--whiteColor);
  font-weight: 600;
}

/*  Media Queries  jejeje */
@media screen and (min-width: 480px) {
  .home .setContainer .homeCard {
    bottom: -18px;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .home .setContainer .homeCard .boton {
    transform: translateY(15px);
  }
}
@media screen and (min-width: 556px) {
  .home .setContainer .homeText .tittle {
    font-size: 2.5rem;
  }
  .home .setContainer .homeText .subTittle {
    font-size: 18px;
  }
}
@media screen and (min-width: 720px) {
  .home .setContainer .homeCard {
    bottom: -10%;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 720px) {
  .home .setContainer .homeText {
    padding: 1rem 10rem;
  }
}/*# sourceMappingURL=Home.css.map */